@import "../base/variables";
.footer {
  position: relative;
  background-color: #000;
  background-image: url("https://bizweb.dktcdn.net/100/400/734/themes/795402/assets/bg-footer.jpg?1739761841827");
  background-size: cover;
  background-position: right;
  color: white;
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;
  padding: 10px 20px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); // lớp phủ mờ màu đen
    z-index: 1;
  }
  &__grid {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  &__column {
    padding: 20px;
    h3,
    h4 {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 0.5rem;
    }
  }

  &__underline {
    width: 150px;
    height: 3px;
    background-color: $primary-color;
    margin-bottom: 1rem;
  }

  &__certification {
    margin-top: 1rem;
  }
}

/* Hiển thị theo hàng dọc khi ở màn hình nhỏ hơn hoặc bằng 1024px */
@media screen and (max-width: 1024px) {
  .footer__grid {
    display: flex;
    flex-direction: column;
  }

  .footer__column {
    width: 100%; // chiếm toàn bộ chiều rộng khi xuống dòng
  }
}
// Responsive cho màn hình rất nhỏ (iPhone)
@media (max-width: 480px) {
  .footer {
    background-position: 90% top; // tuỳ ảnh, có thể dùng 0% nếu muốn thấy phần đầu ảnh
  }
}
