@import "../base/variables";
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  background: transparent;
  color: white;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
  // pointer-events: none; // Có thể thao tác với các phần tử bên dưới header

  &.hidden {
    transform: translateY(-100%);
  }

  &.visible {
    transform: translateY(0);
  }
  .header__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;

    img {
      margin-left: 20px;
    }

    span {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

  .header__right {
    display: flex;
    padding: 0 20px;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 20px;
    .header__account {
      display: flex;
      margin: 10px 0;
      padding: 0 5px;
      font-size: 1.6rem;
      color: black;
      border-left: 1.5px solid #8c8787;
      border-right: 1.5px solid #8c8787;

      .btn-login {
        background-color: $secondary-color;
        color: #fff;
        padding: 10px 20px;
        font-size: 1.6rem;
        font-weight: 600;
        text-decoration: none;
        border: none;
        border-radius: 9999px; // bo tròn viên thuốc
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #16a34a; // xanh lá đậm hơn khi hover
        }

        &:active {
          transform: scale(0.97);
        }

        &:disabled {
          background-color: #a1a1aa; // màu xám
          cursor: not-allowed;
        }
      }
    }

    .header__cart {
      position: relative;
      padding: 0 5px;

      img {
        width: 24px;
        height: 24px;
      }

      .badge {
        position: absolute;
        top: -10px;
        right: -10px;
        background: $secondary-color;
        color: #fff;
        font-size: 1.4rem;
        padding: 0px 7px;
        border-radius: 50%;
      }
    }

    .header__search img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}

.header {
  @media (max-width: 768px) {
    padding: 8px 1px; // mobile
  }
}
.header__logo img {
  @media (max-width: 768px) {
    width: 45px;
  }
}
.btn-login {
  @media (max-width: 768px) {
    font-size: 13px !important;
    padding: 4px 10px !important;
  }
}
.shopping-cart {
  @media (max-width: 768px) {
    width: 20px !important;
    height: 20px !important;
  }
}
